<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asset Tracker</title>

    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>📦 Asset Tracker</h1>

    <nav>
        <a href="/">Home</a>
        <a href="/assets">Assets</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
</header>

<section class="hero">

    <h2>Welcome to Asset Tracker</h2>

    <p>
        Manage, monitor and track all company assets
        from one centralized platform.
    </p>

    <div class="buttons">
        <a href="/add" class="btn">➕ Add Asset</a>
        <a href="/assets" class="btn secondary">📋 View Assets</a>
    </div>

</section>

<section class="cards">

    <div class="card">
        <h3>Total Assets</h3>
        <h1>103</h1>
    </div>

    <div class="card">
        <h3>Manufacturers</h3>
        <h1>8</h1>
    </div>

    <div class="card">
        <h3>Available</h3>
        <h1>95</h1>
    </div>

</section>

<section class="table-section">

<h2>Asset Inventory</h2>

<input
type="text"
placeholder="🔍 Search Asset..."
class="search">

<table>

<thead>

<tr>

<th>Asset ID</th>
<th>Product Name</th>
<th>Serial No</th>
<th>Manufacturer</th>
<th>Status</th>
<th>Action</th>

</tr>

</thead>

<tbody>

<tr>
<td>101</td>
<td>Laptop-01</td>
<td>7898KKLI</td>
<td>Dell</td>
<td><span class="available">Available</span></td>
<td>✏️ 🗑️</td>
</tr>

<tr>
<td>102</td>
<td>Apple iPad</td>
<td>4566JKU</td>
<td>Apple</td>
<td><span class="assigned">Assigned</span></td>
<td>✏️ 🗑️</td>
</tr>

<tr>
<td>103</td>
<td>PowerEdge Server</td>
<td>7532FVD</td>
<td>Dell</td>
<td><span class="maintenance">Maintenance</span></td>
<td>✏️ 🗑️</td>
</tr>

</tbody>

</table>

</section>

<footer>

<p>© 2026 Asset Tracker </p>

</footer>

</body>
</html>
