<!DOCTYPE html>
<html>

<head>
    <title>Asset Tracker System</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <h1>Asset Tracker Tracker</h1>

    <hr>

    <nav>
        <a href="/">Home</a> |
        <a href="#">Assets</a> |
        <a href="#">About</a> |
        <a href="#">Contact</a>
    </nav>

    <hr>

    <h2>Welcome</h2>

    <p>
        Welcome to the Asset Tracker.
    </p>

    <button>Add Assets</button>
    <button>View Assets</button>

    <h2>Assets List</h2>

    <table border="1" cellpadding="10">

        <tr>
            <th>Asset ID</th>
            <th>Product Name</th>
            <th>Serial No</th>
            <th>Manufactured by</th>
        </tr>

        <tr>
            <td>101</td>
            <td>Laptop-01</td>
            <td>7898KKLI</td>
            <td>Dell</td>
        </tr>

        <tr>
            <td>102</td>
            <td>Apple Ipad</td>
            <td>4566JKU</td>
            <td>Apple</td>
        </tr>

        <tr>
            <td>103</td>
            <td>Poweredge Server</td>
            <td>7532FVD</td>
            <td>Dell</td>
        </tr>

    </table>

    <hr>

    <footer>
        © 2026 Asset Tracker System
    </footer>

</body>

</html>
